/*RESET*/
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}

main{
    max-width: 1000px;
    margin: auto;
}

h1{
    font-family: 'Fredoka One', cursive;
    color:#e53170;
    margin: 25px 0;
}
header{
    text-align: center;
}
header p{
    border: 10px solid white;
}
.container-up,
.container-down{
    color: white;
    margin: 25px 0;
}

h4{
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
}

.description-teammate p{
    font-size: 14px;
}
.card{
    background-color: black;
    float: left;
    width: calc(100% / 3);
    border: 10px solid white;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}
img{
    width: 80px;
    float: left;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: lightskyblue;
}

.description-teammate{
   float: left;
}