/*RESET*/
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

main{
    max-width: 1200px;
    margin: auto;
}

h1{
    font-family: 'Fredoka One', cursive;
    color:#e53170;
    margin: 30px 0;
}